@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
  box-sizing: border-box;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card {
  display: center;
  line-height: 400px;
  background: white;
  padding: 200px;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  height: 400px;
  width: 250px;
  box-shadow: 5px 5px 10px 2px rgb(62, 60, 60);
}
.card::before {
  position: absolute;
  top: 150px;
  left: 20px;
  font-size: 90px;
}
.card::after {
  position: absolute;
  bottom: 160px;
  right: 20px;
  font-size: 90px;
}

.card.heart::before,
.card.heart::after {
  content: "\2665";
  color: red;
  font-size: 90px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}
.card.spades::before,
.card.spades::after {
  content: "\2660";
  color: black;
  font-size: 90px;

  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}

.card.clover::before,
.card.clover::after {
  content: "\2663";
  color: black;
  font-size: 90px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}

.card.diamond:before,
.card.diamond::after {
  content: "\2666";
  color: red;
  font-size: 90px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}

@media screen and (max-width: 450px) {
  .card {
    display: center;
    line-height: 120px;
    background: white;
    padding: 200px;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    height: 120px;
    width: 80px;
    position: absolute;
    box-shadow: 5px 5px 10px 2px rgb(62, 60, 60);
  }
  .card::before {
    position: absolute;
    top: 45px;
    left: 10px;
    font-size: 90px;
  }
  .card::after {
    position: absolute;
    bottom: 45px;
    right: 10px;
    font-size: 90px;
  }
  .card.heart::before,
  .card.heart::after {
    content: "\2665";
    color: red;
    font-size: 20px;

    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
  }
  .card.spades::before,
  .card.spades::after {
    content: "\2660";
    color: black;
    font-size: 20px;

    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
  }

  .card.clover::before,
  .card.clover::after {
    content: "\2663";
    color: black;
    font-size: 20px;

    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
  }

  .card.diamond:before,
  .card.diamond::after {
    content: "\2666";
    color: red;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
  }
}
